@import "https://fonts.googleapis.com/css?family=Fira Sans";
@import "https://fonts.googleapis.com/css?family=Noto Sans";
@import "https://fonts.googleapis.com/css?family=Agbalumo";

img[src*="#center"] {
  display: block;
  margin: auto;
  width: 15%;
}

header {
  font-family: "Fira sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
a.navigation-title,
a.navigation-link,
section.container.page,
* {
  font-family: "Fira sans";
}

.content article p {
    text-align: left;
    text-justify: auto;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
}