@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://fonts.googleapis.com/css?family=Noto+Sans";
@import "https://fonts.googleapis.com/css?family=Fira+Sans";

img[src*="#small_center"] {
  display: block;
  margin: auto;
  width: 15%;
}

img[src*="#center"] {
  display: block;
  margin: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
header,
a.navigation-title,
a.navigation-link,
section.container.page,
.list ul li .title,
* {
  font-family: 
    'Lato', 
    'Noto Sans', 
    'Fira Sans', 
    -apple-system, 
    BlinkMacSystemFont;
}

.content article p {
    text-align: left;
    text-justify: auto;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.navigation .navigation-title {
    letter-spacing: 0;
    text-transform: None;
};
